/.venv
/build
/release/
/buildDir
/builddir
/debug


**/.cache
*.sublime-workspace
.clang-format

/subprojects/*
!/subprojects/*.wrap
!/subprojects/patches/
!/subprojects/patches/**

!/subprojects/packagefiles/
!/subprojects/packagefiles/**

vgcore.*
*.test
**.spv
imgui.ini
.idea

*.csv
*.pdf
*.sh
**.data

**.dnx

dump

preprocessed.comp
cmake-build-debug
cmake-build-release
cmake-debug-build

*.onnx

**/**__pycache__/
*.json
*.png
*.pth
*.pt
*.tza
*.db
*.mp4

*.zst
*.gz
*.tar
*.pkg
/pkg

/src

*.engine
*.csv
*.gpu
